.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.centered.grid.secMenu.container {
  box-shadow: none;
  border: none;
}

.ui.fluid.bigImage.image {
  margin-top: 30px;
}

.text {
  color: black;
}

.dropdown.icon{
  color: black;
}