.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.centered.grid.mainMenu.container {
  margin-top: 5px;
}

.ui.fitted.item {
  color: black;
}

.ui.fluid.bigSurf.image {
  margin-top: 25px;
}

.ui.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.three.column.grid.footing.container {
  padding: 20px;
}

.ui.inverted.label {
  background-color: black;
}

.ui.centered.grid.container {
  margin-bottom: 20px;
}